<h1>Editing Student</h1>

<div class="create">
  <%= render 'form' %>
</div>

<div class="new">
  <%= link_to 'Show', @student %>
</div>
<br>
<div class="new">
  <%= link_to 'Back', students_path %>
</div>